#
# Copyright (C) 2023 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0
#

service porsche-post-boot /vendor/bin/sh /vendor/bin/init.porsche.post_boot.sh
    class core
    user root
    group root system wakelock graphics
    disabled
    oneshot

on property:sys.boot_completed=1
    start porsche-post-boot

on property:vendor.post_boot.parsed=1
# IRQ Tuning
# IRQ 243: msm_drm0
# IRQ 222: kgsl_3d0_irq
write /proc/irq/243/smp_affinity_list 2
write /proc/irq/240/smp_affinity_list 1

# CPUSets
write /dev/cpuset/background/cpus 0-1
setprop dalvik.vm.dex2oat-cpu-set 0,1,2,3,4,5,6
setprop dalvik.vm.dex2oat-threads 6

# CPUFreq
write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500
write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 500
write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 20000
write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/up_rate_limit_us 500
write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/down_rate_limit_us 20000

# SSG
write /dev/blkio/background/blkio.ssg.max_available_ratio 25
